---
import { Image } from "astro:assets";
import GitTitlePhoto from "../assets/img/Github.png";
import IngTitlePhoto from "../assets/img/titulo.png";
import type {Titles} from "../type/types";
const titulos:Array<Titles> = [
  {
    title: "Ing. en Ciencias Informáticas",
    image: IngTitlePhoto,
    link: "",
  },
  {
    title: "Bases de GIT, GITHUB",
    image: GitTitlePhoto,
    link: "",
  } ]
---
<section
  class="my-24 max-w-[1200px] mx-auto "
  id="certification"
>
<h2 class="text-center text-4xl">Certificaciones</h2>c
<div class="md:flex md:justify-center grid grid-cols-1 gap-6 w-full ">
{titulos.map((titulo)=>(
<div class="glass max-w-[600px] w-full h-auto pb-2">
<Image src={titulo.image} class='w-full max-h-56 rounded-lg' alt={`${titulo.title}_photo}`}/>
<div class="flex justify-between items-center mx-2 mt-3">
<h4 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">{titulo.title}</h4>
<a href=`${titulo.link}` class="bg-[#2A629A] px-4 py-2 rounded-lg text-gray-200 hover:bg-slate-700 duration-300">Visitar</a>
</div>
</div>
))}
</div>
</section>
